.main-container {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,85,121,1) 31%, rgba(0,255,218,1) 84%);
}

.todo-wrapper {
  height: 300px;
}

.todo-box {
  background-color: #ffffff;
  height: 300px;
  box-shadow: 13px 13px 6px -5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 13px 13px 6px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 13px 13px 6px -5px rgba(0,0,0,0.2);
}

.title-container {
  text-align: center;
}