.main-container {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,85,121,1) 31%, rgba(0,255,218,1) 84%);
}

.todo-wrapper {
  height: 300px;
}
.title-container {
  text-align: center;
}